.bill__slider-index{
    text-align: center;
    color: #fff;
    margin: 115px 0 25px;
    font-size: 18px;
    font-weight: 300;
}
.bill__slider-container{
    max-width: 572px;
    aspect-ratio: 2.86/1.25;
    margin: 0 auto;
    position: relative;
}
.bill__slider-container_info{
    position: absolute;
    z-index: 1;
    right: 0;
    color: #111;
    background-color: #f1f1f1;
    border-bottom: 1px solid #9f9f9f;
    border-left: 1px solid #9f9f9f;
    padding: 8px 12px;
    font-weight: 400;
}
.bill__slider-container_img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bill__slider-container_navigation{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #d4d4d4;
    top: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bill__slider-container_navigation:hover{
    background-color: #4e4e4e56;
}
.bill__slider-container_navigation.prev-button{
    left: -100px;
}
.bill__slider-container_navigation.next-button{
    right: -100px;
    transform: rotate(180deg);
}
.bill__slider-container_navigation img{
    width: 50px;
}

@media screen and (max-width:768px) {
    .bill__slider-index{
        font-size: 16px;
    }
    .bill__slider-container{
        max-width: 350px;
    }
    .bill__slider-container_navigation.prev-button{
        left: -65px;
    }
    .bill__slider-container_navigation.next-button{
        right: -65px;
    }
    .bill__slider-container_navigation{
        height: 30px;
    }
    .bill__slider-container_navigation, .bill__slider-container_navigation img{
        width: 30px;
    }
}